body {
    margin: 0 auto;
    background-color: #f7f7f7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    max-height: 600px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbarbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2c3e50;
    color: #fff;
}

.Date {
    font-size: 1.6em;
}

.Navheader {
    display: flex;
    justify-content: center;
    font-size: 1.4em;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

button {
    border-radius: 10%;
    height: 40px;
    background-color: #3498db;
    cursor: pointer;
    color: black;
    border: none;
}
input {
    width: 200px;
    height: 40px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    color: black;
    /* Add this line to set the text color to black */
}

.weatheritems {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
}

.weatheritem0,
.weatheritem1,
.weatheritem2 {
    text-align: center;
    height: 200px;
    width: 200px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
