<%- include('partials/header'); %>


    <body>
        <div class="form">
            <form class="formbody" action="/" method="post">
                <label for="cityInput">City Name:</label>
                <input id="cityInput" type="text" name="cityName">
                <button type="submit" name="button">Search</button>
            </form>
        </div>
    </body>
    <div>

    </div>
    <%- include('partials/footer'); %>