.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

label {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}
button {
    border-radius: 10%;
    padding: 2px 2px;
    font-size: 15px;
   background-color: aliceblue;
}

input {
  width: 300px;
  
}

